article {
  line-height: 1.5;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  font-weight: bold;
  margin-block-end: 0.5rem;
}

article h2 {
  position: relative;
  font-size: 1.25rem;

  &:before {
    content: '¶';
    opacity: 0.5;
    position: absolute;
    left: -1em;
  }
}

article p {
  margin-block-end: 0.5rem;
}

article img {
  max-width: 100%;
  max-height: 50vh;
}

article pre {
  padding: 8px;
  border-radius: 4px;

  code {
    line-height: 1.5;
  }
}

article blockquote {
  border-left: 2px solid var(--color-muted);
  padding-left: calc(1em - 2px);
  margin-inline: unset;
  margin-block-start: unset;
  margin-block-end: 0.5rem;
}
