@import './article.css';

:root {
  --color-font: light-dark(#333, #ddd);
  --color-page: light-dark(#fff, #181818);
  --color-muted: #6b6b6b;
  --color-border: light-dark(#e5e5e5, #292929);

  --sans: 'LXGW WenKai', system-ui, sans-serif;
  --mono: 'Monaco', monospace;
}

:root {
  position: relative;

  font-family: var(--sans);
  line-height: 1;
  text-autospace: normal;

  min-height: 100vh;

  color-scheme: light dark;
  color: var(--color-font);
  background-color: var(--color-page);

  scrollbar-gutter: stable;

  @media (prefers-color-scheme: dark) {
    -webkit-font-smoothing: antialiased;
  }
}

body {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: min(720px, 100%);
  padding-inline: 16px;
  margin-inline: auto;
  margin-block: 0 78px;
}

main {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: unset;
  font-weight: unset;
  margin-block: unset;
}

a {
  color: inherit;
  text-decoration: unset;
}

code {
  font-family: var(--mono);
  line-height: 1;
}

svg {
  vertical-align: bottom;
}
